/* variables */
:root {
    --background: #f3f6fd;
    --seconder: rgb(180, 180, 180);
    --icon_c: #aaaaaa;
    --third: rgb(228, 228, 228);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--background);
}

.wrapper{
  max-width: 450px;
  margin: 150px auto;
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 5px !important;
  overflow: hidden;
  position: relative;
}

.search-input input{
  height: 55px;
  width: 100%;
  
  outline: none;
  border: none;
  padding: 40px 60px 30px 60px;
  font-size: 18px;
  border-bottom: solid 1px var(--seconder);
  border-top-left-radius: 10% !important;
  border-top-right-radius: 10% !important;
  font-size: 0.9em;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 380px;
  overflow-y: auto;
  font-family: 'Poppins', sans-serif;
  color: var(--icon_c);
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  width: 90%;
  color: #6a6977;
  font-size: 0.6em;
  margin-left: 10px;
  display: table;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: var(--third);
}

.search-input .icon{
  position: absolute;
  left: 12px;
  top: 12px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: var(--icon_c);
  cursor: pointer;
}

.search-input .search_head{
  font-size: 0.7em;
  color: #aaaaaa;
  padding: 0;
  margin:0;
  width: 80%;
  margin-left: 20px;
  margin-top: 3%;
  margin-bottom: 10px;
}


#messages, #attachments, #people{
  display: inline;
  font-size: 0.7em !important;
  padding: 5px 8px 5px 8px;
  border: 0;
  margin-left: 20px;
}
#messages{
  background-color: #f9effa;
}
#people{
  background-color: #e6f6f3;
}
#people{
  background-color: #f4f2fd;
}


#suggestion_icon{
  display: inline;
  margin-right: 3px;
  padding-top: 2px;
}

#suggestion_icon2{
  margin-left: 86%;
}

.autocom-box li{
  display: table-cell;
  vertical-align: middle;
}